<div
  class="about-container flex flex-col gap-12 text-left xl:w-2/3 text-gray-800"
>
  <div class="main-text text-left">
    <h2
      pAnimateOnScroll
      enterClass="animate-fade-in-up"
      class="font-light text-5xl sm:text-7xl xl:text-7xl animate-fade-in-up font-poppins"
    >
      about me
    </h2>
  </div>
  <div
    class="main-text flex flex-col gap-7 sm:gap-8 font-poppins font-semibold"
  >
    <p
      pAnimateOnScroll
      enterClass="animate-fade-in"
      class="text-lg sm:text-xl md:w-3/4"
    >
      I am a third year college student currently taking up web development. I
      specialize in creating backend solutions for web applications.
    </p>

    <p
      pAnimateOnScroll
      enterClass="animate-fade-in"
      class="text-lg sm:text-xl md:w-3/4"
    >
      Although I am more inclined towards backend development, I’m equally
      comfortable and enthusiastic about handling the user-facing aspects of
      creating websites.
    </p>

    <p class="text-lg sm:text-xl md:w-3/4">
      I strictly abide by the principle of
      <span class="text-gray-500">continuous learning.</span> In line with the
      ever-evolving field of web development, I dedicate myself to building
      projects that I find interesting and personally meaningful, while
      simultaneously providing opportunities to learn and apply new concepts and
      technologies.
    </p>
  </div>
</div>
