<div
  class="jumbotron-container flex flex-col gap-56 sm:gap-32 md:gap-32 lg:gap-52 xl:gap-72 pt-20 text-left"
>
  <div class="main-text w-3/4 lg:w-3/5 xl:w-3/5">
    <h2
      pAnimateOnScroll
      enterClass="animate-fade-in-down"
      class="secondary-text w-3/4 lg:w-2/5 xl:w-2/5"
      class="font-light text-5xl sm:text-7xl xl:text-8xl font-poppins text-gray-800"
    >
      i am jimwell manalo.
    </h2>
    <h2
      pAnimateOnScroll
      enterClass="animate-fade-in-up-intro"
      class="secondary-text w-3/4 xl:w-2/5 animate-duration-1000"
      class="font-light text-5xl sm:text-7xl xl:text-8xl font-poppins text-gray-500"
    >
      i
      <span class="text-gray-500">build </span>
      <span class="text-gray-500">websites.</span>
    </h2>
  </div>
  <div
    pAnimateOnScroll
    enterClass="animate-fade-in-up-intro"
    class="secondary-text w-3/4 lg:w-2/5 xl:w-2/5 animate-duration-1000"
  >
    <p class="text-lg sm:text-xl font-semibold font-poppins">
      I build web applications that work well behind the scenes while also
      handling the parts users see and interact with. I aim to ensure consistent
      end-to-end reliability, from the backend to the client.
    </p>
  </div>
</div>
