<div #wrapper class="lenis lenis-smooth overflow-y-scroll h-screen">
  <div
    #content
    class="min-h-[300vh] px-10 sm:px-12 md:px-14 xl:px-20 py-5 md:py-16 lg:py-20 xl:py-15 flex flex-col relative overflow-x-hidden scroll-smooth bg-primary"
  >
    <!-- NAVBAR TOGGLER -->
    @if (menuState === 'closed') {
    <div
      class="icon-container fixed right-5 md:right-7 xl:right-7 top-1/2 -translate-y-1/2"
      (click)="toggleMenuState()"
    >
      <svg
        class="w-4 h-5 sm:w-4 hover:cursor-pointer"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 16 16"
        fill="#000000"
        id="Less-Than-Thin--Streamline-Phosphor-Thin"
      >
        <desc>Less Than Thin Streamline Icon: https://streamlinehq.com</desc>
        <path
          d="M15.8021125 15.2222875c-0.06470625 0.1368375 -0.20241875 0.2242 -0.35379375 0.224425 -0.05805625 0.000325 -0.11540625 -0.01275625 -0.16758125 -0.03821875l-14.89653125 -7.05625c-0.272725 -0.129175 -0.30334375 -0.50515 -0.05510625 -0.67675 0.017475 -0.01208125 0.03590625 -0.02271875 0.05510625 -0.03181875l14.89653125 -7.05625c0.27555 -0.12303125 0.5809625 0.0983625 0.5497375 0.39851875 -0.01385625 0.13321875 -0.094775 0.2501375 -0.21456875 0.31005L1.46714375 7.99845l14.1487625 6.701475c0.19571875 0.09278125 0.27910625 0.3267 0.18620625 0.5223625Z"
          stroke-width="0.0625"
        ></path>
      </svg>
    </div>
    }
    <!-- NAVBAR TOGGLER -->

    <!-- NAVBAR -->
    <app-navbar
      (linkClick)="scrollToSection($event)"
      [menuStateInput]="menuState"
      (emitToggle)="toggleMenuStateFromChild($event)"
    ></app-navbar>
    <!-- NAVBAR -->

    <!-- HEADER -->
    <div id="home" class="header-container mb-36">
      <div class="flex justify-between">
        <div class="logo-container">
          <p
            class="font-light text-lg md:text-xl xl:text-2xl font-poppins animate-fade-in-down"
          >
            jimwell manalo
          </p>
        </div>
      </div>
    </div>
    <!-- HEADER -->

    <div class="flex flex-col gap-28 sm:gap-60 lg:gap-80">
      <!-- JUMBOTRON -->
      <app-jumbotron></app-jumbotron>
      <!-- JUMBOTRON -->

      <!-- PROJECTS -->
      <app-projects-list id="projects"></app-projects-list>
      <!-- PROJECTS -->

      <!--SKILLS AND TECHNOLOGIES-->
      <div id="skills" class="skills-technologies flex flex-col gap-36">
        <app-skills-list></app-skills-list>
        <app-technologies-list></app-technologies-list>
      </div>
      <!--SKILLS AND TECHNOLOGIES-->

      <!-- CERTIFICATIONS -->
      <app-certifications-list id="certifications"></app-certifications-list>
      <!-- CERTIFICATIONS -->

      <!-- ABOUT -->
      <app-about id="about"></app-about>
      <!-- ABOUT -->

      <!-- CONTACT -->
      <app-contact id="contact"></app-contact>
      <!-- CONTACT -->
    </div>
  </div>
</div>
